// .sticky_wrapper {
//   position: sticky;
//   top: 0;
//   height: 100vh; /* Makes wrapper invisible for layout purposes */
//   z-index: 5; /* Same as header's original z-index */
// }

#project {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #eeeee4;
  // background-color: transparent;
  font-family: "Alumni Sans Pinstripe";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  color: var(--color-text-header);
  padding-top: 5vw;
  padding-bottom: 5vw;
  height: 100%;
}

.project_header {
  position: relative;
  font-weight: bold;
  // color: rgb(80, 62, 121);
}
.project_header_title {
  font-size: clamp(1rem, 10vw, 3rem);
  text-align: center;
  font-family: "Bebas Neue";
  font-size: var(--font-size-xxl);
  color: rgb(56, 55, 55);
  // padding-bottom: 2vw;

  // border: solid 1px black;
}
.project_header_viewall {
  position: absolute;
  right: -60%;
  top: 40%;
  font-size: clamp(0.8rem, 1rem, 1.3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2vh;
  white-space: nowrap;
  color: #797979;
  // border: solid 1px black;
  .link {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    color: black; /* Original color of the text */
    text-decoration: none;
    overflow: hidden; /* Hide content that goes out of bounds */
    cursor: pointer;

    // border: solid 1px black;
  }

  .link span {
    display: inline-block;
    position: relative;
    transition: transform 0.6s ease, opacity 0.6s ease; /* Transition for text movement */
    color: #797979;
    font-size: 20px;
  }

  .link::before {
    content: attr(data-text); /* Copy the text from data-text */
    position: absolute;
    top: 100%; /* Start below the original text */
    left: 0;
    width: 100%;
    opacity: 0; /* Start as invisible */
    transition: transform 0.6s ease, opacity 0.6s ease; /* Transition for new text */
  }

  .link:hover span {
    transform: translateY(-100%); /* Move the original text up */
    opacity: 0; /* Fade out the original text */
  }

  .link:hover::before {
    opacity: 1; /* Make the new text visible */
    transform: translateY(-100%); /* Slide new text upwards */
  }
}

.projects_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  // border: solid 1px black;
  display: flex;
  justify-content: center;
}

.project_list {
  position: relative;
  transition: transform 0.5s ease-in-out;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  // border: solid 1px black;
  gap: 5vw;

  .project_card {
    position: relative;
    width: clamp(35rem, 50vw, 70rem);
    aspect-ratio: 16 / 9;
    // overflow: hidden; // Ensures the overlay doesn’t spill out
    // filter: grayscale(100%);
    // animation: fade-in-50 linear forwards;
    // animation-timeline: view();
    // animation-range-start: 300px;
    // animation-range-end: 300px;
    .image_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/noise.png");
      backdrop-filter: blur(10px); /* Creates a blur effect behind the veil */
      background-color: rgba(
        255,
        255,
        255,
        0.842
      ); /* Adds semi-transparent white background */

      opacity: 0; /* Adjust opacity for noise effect */
      z-index: 1;
      filter: brightness(0.75);
    }

    &:hover .image_overlay {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
    &:not(:hover) .image_overlay {
      opacity: 1; /* Reverse animation on mouse leave */
      transition: opacity 1s ease-out;
    }
    .project_image {
      position: absolute;
      width: 100%;
      height: 100%;
      scale: 1;
      object-fit: cover;
      filter: grayscale(0); // Apply filter on the image directly
      // filter: brightness(0.7);
      transition: filter 0.5s ease-out;
      // border: solid 1px gray;
      z-index: 0;
    }
    &:hover .project_image {
      filter: grayscale(0%);
      filter: brightness(1);
    }
    // Create the curtain overlay using a pseudo-element
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0%; // starts with no overlay
      background-color: #eeeee4; // change to desired color or transparency
      transition: height 0.5s ease-out; // smooth animation
      z-index: 2;
    }

    // On hover, increase the overlay's height to cover the bottom 30%
    &:hover::after {
      height: 20%;
    }

    &:not(:hover) .project_details {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    }

    // After text disappears, revert the overlay
    &:not(:hover)::after {
      height: 0%;
      transition: height 0.5s ease-in 0.3s; /* 0.3s delay */
    }

    .project_number {
      position: absolute;
      width: clamp(2.5rem, 3.5vw, 4rem);
      aspect-ratio: 1 / 1;
      border-radius: 0 0 100% 0;
      background-color: #eeeee4;
      // background-color: transparent;
      z-index: 3; // Make sure the number stays above the overlay
      // border: solid 1px gray;
      // border-left: none;
      // border-top: none;

      .number {
        position: absolute;
        width: 100%;
        display: flex;
        padding-right: 7px;
        justify-content: center;
        font-size: clamp(2rem, 2vw, 2.5rem);
        font-weight: bold;
        color: var(--color-text-header);
        // border: solid 1px black;
      }
    }
    // Caption text that appears in the lifted area
    .project_details {
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 4; // above the overlay

      opacity: 1; // start hidden
      transform: translateY(20px); // start slightly lower
      transition: opacity 0.5s ease-out 0.5s, transform 0.5s ease-out 0.5s;

      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-around;
      align-items: center;

      .project_name {
        font-size: clamp(1rem, 2.2vw, 2.8rem);
        // color: black; // text color
        font-weight: bold;
      }
      .project_tech {
        display: flex;
        justify-content: end;
        gap: 2px;

        .tech_icon {
          width: clamp(1rem, 1.7vw, 2.8rem);
          // filter: grayscale(100%);
        }
      }
      .project_desc {
        // font-family: "Poppins";
        font-size: clamp(0.8rem, 2vw, 2.5rem);
        font-weight: bold;
        // color: var(--color-text-muted);
      }
      .project_links {
        display: flex;
        justify-content: end;
        gap: 1vw;
        color: #797979;
        font-weight: bold;
        a {
          color: #797979;
          // color: rgb(37, 34, 34);
          text-decoration: none;
          font-size: clamp(0.8rem, 2.5vw, 2.5rem);
          // font-family: "Poiret One";
          font-weight: bold;
        }
        a:visited {
          text-decoration: none;
          color: #797979;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }

    // On hover, reveal the caption
    &:hover .project_details {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.project_list.active {
  transform: translateX(-100vw);
}

.project_listall_container {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;

  display: flex;
  justify-content: center;
}
.project_listall_container.active_all {
  transform: translateX(-100%);
}

.project_listall {
  // border: solid 1px black;
  display: flex;
  flex-direction: column;
  // gap: 1rem;
  position: relative;
  // justify-content: space-between;
  .project_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: clamp(0.5rem, 1rem, 1rem);
    padding-left: 1rem;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 2rem);
    gap: 1vw;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;

    .number {
    }
    .year_container {
      display: flex;
      justify-content: end;
      .year {
      }
    }
  }
  .project_card:last-of-type {
    border-bottom: solid 1px rgb(201, 201, 201);
  }
  .project_card:hover {
    background-color: white;
    // opacity: 0.7;
  }
  .project_card:hover .number {
    transform: translateX(10px);
  }
  .project_card:hover .year_container {
    transform: translateX(-10px);
  }

  .project_card .number,
  .year_container {
    transition: all 0.4s;
  }
}
.modalContainer {
  width: 400px;
  height: 300px;
  position: absolute;
  background-color: transparent;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: solid 1px black;
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
  // border: solid 1px black;
  padding: 5px;
  background-color: white;
}

@keyframes fade-in-0 {
  to {
    filter: grayscale(0%);
  }
}

@keyframes fade-in-50 {
  to {
    filter: grayscale(70%);
  }
}

@media (max-width: 900px) {
  #project {
    position: normal;
    height: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  .project_list {
    grid-template-columns: 1fr;
    gap: 5vw;
    .project_card {
      width: 90vw;
      .project_image {
        scale: 1;
        object-fit: cover;
      }
      &:hover::after {
        height: 20%;
      }
    }
  }
}

// @media (min-width: 601px) and (max-width: 900px) {
//   #project {
//     position: normal;
//     height: 100%;
//     padding-top: 5vh;
//     padding-bottom: 5vh;
//   }
//   .project_list {
//     grid-template-columns: 1fr;
//     gap: 5vw;
//     .project_card {
//       width: 70vw;
//       aspect-ratio: 16 / 7.5;
//       .project_image {
//         scale: 1;
//         object-fit: cover;
//       }
//       &:hover::after {
//         height: 23%;
//       }
//       .project_details {
//         .project_name {
//           font-size: 3vw;
//         }
//         .project_tech {
//           display: flex;
//           justify-content: end;
//           gap: 2px;

//           .tech_icon {
//             width: 3vw;
//           }
//         }
//         .project_desc {
//           font-size: 2.5vw;
//         }
//         .project_links {
//           a {
//             font-size: 2.5vw;
//           }
//         }
//       }
//     }
//   }
// }

// @media (min-width: 1400px) and (max-height: 800px) {
//   .project_list {
//     gap: 2w;

//     .project_card {
//       width: clamp(25vw, 40vw, 40vw);
//       max-width: 50rem; // Allow larger cards on big screens
//       aspect-ratio: 16 / 7;

//       .project_image {
//       }
//       &:hover::after {
//         height: 25%;
//       }
//     }
//   }
// }
