@use "../mixins" as *;

.sticky-wrapper {
  position: sticky;
  top: 0;
  height: 0; /* Makes wrapper invisible for layout purposes */
  z-index: 200; /* Same as header's original z-index */
}

header {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: var(--space-m);
  // align-items: center;

  position: sticky;
  top: 0;

  font-family: "Inter";
  font-weight: 800;

  transition: top 1s ease-in;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // scroll-snap-align: start;
  // overflow: hidden;
}

::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}
// Sticky footer
footer {
  height: 15vh;
  background-color: var(--color-secondary);
  color: rgb(65, 65, 65);
  position: relative;
  clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 80% 100%);

  .footer-container {
    height: calc(100vh + 15vh);
    top: -100vh;
    width: 100%;
    position: relative;

    .footer-content {
      top: calc(100vh - 15vh);
      height: 15vh;
      position: sticky;
      text-align: right;

      padding-right: 2vh;
      padding-bottom: 2vh;

      display: flex;
      justify-content: end;
      align-items: end;

      .footer-items {
        p {
          font-weight: 700;
          font-size: 1.7vh;
        }
      }
    }
  }
}

.loading-screen {
  background-color: white;
  width: 100vw;
  height: 100vh;
}
