#about {
  // margin-top: -7vh;
  // margin-bottom: 7vh;
  // background-image: url("/noise.png");
  background-color: #ffffff;
  .veil {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("/noise.png");
    backdrop-filter: blur(200px); /* Creates a blur effect behind the veil */
    background-color: rgba(
      255,
      255,
      255,
      0.2
    ); /* Adds semi-transparent white background */

    opacity: 0.99; /* Adjust opacity for noise effect */
    z-index: 1;
  }

  .about-text {
    // border: solid 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: -7vh;
    width: 100%;
    height: 100%;
    // font-family: "Bodoni Moda";
    font-family: "Prata";
    // font-family: "Marcellus";
    // font-family: "Shippori Mincho";
    // font-family: "Literata";
    // font-family: "Poiret One";
    // font-family: "Mystery Quest";
    // font-family: "Molle";
    // font-family: "Mrs Sheppards";
    font-size: clamp(1.3rem, 7vw, 7rem);
    font-weight: bold;

    position: absolute;
    left: 0;
    top: 0;

    user-select: none;
    z-index: 100;

    .pre-mask {
      // background-image: url("/paper.jpg");
      // background-size: cover;
      // -webkit-background-clip: text; /* Clip the background to the text for webkit browsers */
      // background-clip: text;

      background: linear-gradient(45deg, #0f2027, #203a43, #2c5364);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      // background: linear-gradient(45deg, #0f2027, #203a43, #2c5364);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // background-clip: text;
      // color: rgba(255, 255, 255, 0.212);

      color: transparent;
      text-align: center;

      text-shadow: 0 -3px 6px rgb(243, 243, 243),
        /* Shadow below */ -1px -3px 1px rgb(255, 255, 255),
        /* Shadow above */ -1px 2px 4px rgb(0, 0, 0); /* Light soft shadow */

      // Pressed out
      // text-shadow: 0 6px 6px rgb(63, 63, 63),
      //   /* Shadow below */ 1px 3px 1px rgb(59, 59, 59),
      //   /* Shadow above */ 3px 4px 4px rgb(0, 0, 0); /* Light soft shadow */

      // Pressed in
      // text-shadow: 0 -3px 6px rgba(0, 0, 0, 0.589),
      //   /* Shadow below */ -1px -3px 1px rgba(0, 0, 0, 0.603),
      //   /* Shadow above */ -1px 2px 4px rgba(0, 0, 0, 0.582); /* Light soft shadow */

      // animation: fadeIn 8s ease forwards;
      // transition: color 5s ease, text-shadow 5s ease;
      .text-container {
        display: flex;
        justify-content: center;
        position: relative;
      }
      .text {
        position: absolute;
        font-size: clamp(0.8rem, 1.5vw, 1.5rem);
        font-family: "Prata";

        /* Set the text fill color to transparent */
        color: transparent;
        -webkit-text-fill-color: transparent;

        /* Stroke (outline) effect using a gradient */
        -webkit-text-stroke: 1px transparent;
        background-image: linear-gradient(45deg, #0f2027, #203a43, #2c5364);
        background-clip: text;
        -webkit-background-clip: text;

        /* Optional: Adjust shadow for visibility */
        text-shadow: 2px 2px 5px rgba(252, 252, 252, 0.3);
      }

      // .locked.hidden {
      //   opacity: 0;
      //   transform: translateY(50px); /* Moves downward */
      // }

      // // .unlocked {
      // //   position: absolute; /* Overlaps both texts */
      // //   font-size: clamp(1rem, 2vw, 2rem);
      // //   transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
      // // }
      // .unlocked.hidden {
      //   opacity: 0;
      //   transform: translateY(-50px);
      // }
    }

    // .pre-mask.show {
    //   color: rgba(255, 255, 255, 0.212);
    //   text-align: center;
    // }
    // .pre-mask:hover {
    //   color: white;
    //   text-shadow: 0 -3px 6px rgba(0, 0, 0, 0.589),
    //     /* Shadow below */ -1px -3px 1px rgba(0, 0, 0, 0.603),
    //     /* Shadow above */ -1px 2px 4px rgba(0, 0, 0, 0.582); /* Light soft shadow */
    // }
    // @keyframes fadeIn {
    //   0% {
    //   }
    //   100% {
    //     color: white;
    //     text-shadow: 0 -3px 6px rgba(0, 0, 0, 0.589),
    //       /* Shadow below */ -1px -3px 1px rgba(0, 0, 0, 0.603),
    //       /* Shadow above */ -1px 2px 4px rgba(0, 0, 0, 0.582); /* Light soft shadow */
    //   }
    // }
  }
  // .about-text-mask {
  //   position: absolute;
  //   mask-image: url("/mask.svg");
  //   background: orange;
  //   mask-repeat: no-repeat;
  //   mask-size: 40px;
  //   color: white;

  //   .mask {
  //     display: flex;
  //     text-align: center;
  //     justify-content: center;
  //     flex-direction: column;
  //     cursor: none;
  //   }
  // }

  // .backend {
  //   color: orange;
  // }
  // .frontend {
  //   color: #1cc02d;
  // }
}

#project {
  display: flex;
  flex-direction: column;
  gap: 100px;
  // justify-content: start;
  // width: 100%;
  // height: 100vh;
  // border: solid 1px white;
  user-select: none;
  // background-image: url("/paper.jpg");
  background-size: auto;
  // background-color: var(--color-light);
  padding-top: 50px;

  .project-banner {
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: rgb(66, 66, 66);

    width: 100%;
    font-family: "Righteous";
    font-weight: 700;
    background-color: transparent;

    p {
      margin: 0px;
      font-size: clamp(2rem, 4vw, 4rem);
    }

    p:nth-oftype(2) {
      position: absolute;
      left: 100%;
    }
  }

  .project-canvas {
    // border: solid 1px white;
    position: relative;
  }

  .project-list {
    position: absolute;
    z-index: 1;
    width: 100%;

    .titles {
      width: 100%;
      border-top: 1px solid rgba(183, 171, 152, 0.25);

      .title {
        border-bottom: 1px solid rgba(183, 171, 152, 0.25);
        cursor: default;
        position: relative;
        z-index: 2;

        .wrapper {
          display: inline-block;
          padding-left: 10%;

          p {
            display: inline-block;
            color: #b7ab98;
            text-transform: uppercase;
            font-weight: 700;
            font-size: clamp(3rem, 6vw, 6rem);
            // line-height: 6rem;
            position: relative;
            z-index: 2;
            &:nth-of-type(2) {
              display: block;
              position: absolute;
              color: #1c1c1c;
              top: 0;
              z-index: 1;
            }
          }
        }
      }
    }

    .descriptions {
      position: absolute;
      top: 0;
      width: 100%;
      // height: 100%;
      z-index: 2;
      pointer-events: none;

      .description {
        background-color: rgba(255, 0, 0, 0.747);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 1px;
        clip-path: inset(50% 0 50%);
        transition: clip-path 0.4s;

        p {
          &:nth-of-type(1) {
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 700;
            font-size: clamp(3rem, 6vw, 6rem);
            // line-height: 6rem;
            position: relative;
            z-index: 1;
          }
          &:nth-of-type(2) {
            width: 40%;
            font-size: 0.8vw;
            // font-weight: 700;
            color: var(--color-light);
            font-family: "Poppins";
          }
        }
      }
    }
  }
}
