.menu_link {
  display: inline-block;
  position: relative;
  color: rgb(56, 55, 55); /* Original color of the text */
  text-decoration: none;
  overflow: hidden; /* Hide content that goes out of bounds */

  cursor: pointer;
}

.menu_link span {
  display: inline-block;
  position: relative;
  transition: transform 0.6s ease, opacity 0.6s ease; /* Transition for text movement */
}

.menu_link::before {
  content: attr(data-text); /* Copy the text from data-text */
  position: absolute;
  top: 100%; /* Start below the original text */
  left: 0;
  width: 100%;
  opacity: 0; /* Start as invisible */
  transition: transform 0.6s ease, opacity 0.6s ease; /* Transition for new text */
}

.menu_link:hover span {
  transform: translateY(-100%); /* Move the original text up */
  opacity: 0; /* Fade out the original text */
}

.menu_link:hover::before {
  opacity: 1; /* Make the new text visible */
  transform: translateY(-100%); /* Slide new text upwards */
}
