.sticky_wrapper {
  position: sticky;
  top: 0;
  height: 0; /* Makes wrapper invisible for layout purposes */
  z-index: 200; /* Same as header's original z-index */
}

header {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: var(--space-m);
  align-items: center;

  position: sticky;
  top: 0;

  font-family: "Inter";
  font-weight: 800;

  transition: top 1s ease-in;
}

.logo_container {
  display: flex;
  font-size: var(--font-size-xl);
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5),
    /* Shadow to the bottom-right */ -1px 1px 3px rgba(0, 0, 0, 0.5),
    /* Shadow to the bottom-left */ -1px -1px 3px rgba(0, 0, 0, 0.5),
    /* Shadow to the top-left */ 1px -1px 3px rgba(0, 0, 0, 0.5); /* Shadow to the top-right */

  .logo_text {
    // border: solid 2px white;
    display: flex; /* Use flexbox to arrange the letters horizontally */
    flex-direction: row;
    align-items: flex-end; /* Align the letters to the bottom */
    overflow: hidden;
    // padding: 0px 1px 0px 3px;
  }
  .logo_text.small {
    border: solid 3px rgb(252, 250, 250); /* Border with white color */
    // transition: all 1s ease-in-out; /* Delay for all transitions */
    transition-delay: 5s; /* Delay the appearance of the border */
    padding: 0px 4px 0px 5px;
    border-radius: var(--border-round);
  }
  .letter {
    letter-spacing: 1px;
    display: "inline-block"; // Ensure each letter is treated as a block
    height: "1em"; // Height matches the text height
    line-height: "1"; // Vertically center the letter within its height
  }

  .logo-text:hover {
    cursor: pointer;
    color: var(--color-text-header);
  }
}

.menu_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xl);

  font-size: var(--font-size-s);

  .menu_item {
    display: flex; /* Use flexbox to arrange the letters horizontally */
    flex-direction: row;
    align-items: flex-end; /* Align the letters to the bottom */
    overflow: hidden;
    padding: var(--space-xxs);
  }
  .letter {
    letter-spacing: var(--space-xxxxxs);
    display: "inline-block"; // Ensure each letter is treated as a block
  }
}
