.sticky_wrapper {
  position: sticky;
  top: 0;
  height: 0; /* Makes wrapper invisible for layout purposes */
  z-index: 900; /* Same as header's original z-index */
  transition: color 0.3s ease-in-out;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: var(--space-m);
  align-items: center;

  font-family: "Bebas Neue";

  transition: top 1s ease-in;
}

.header-white {
  color: white;
}

.logo_container {
  display: flex;
  font-size: var(--font-size-l);
  color: rgb(56, 55, 55);

  .logo_text {
    display: flex; /* Use flexbox to arrange the letters horizontally */
    flex-direction: row;
    align-items: flex-end; /* Align the letters to the bottom */
    overflow: hidden;
  }

  .logo_text.small {
    transition-delay: 5s; /* Delay the appearance of the border */
  }

  .letter {
    letter-spacing: 1px;
    display: inline-block; /* Ensure each letter is treated as a block */
    height: 1em; /* Height matches the text height */
    // line-height: 1; /* Vertically center the letter within its height */
  }

  .logo-text:hover {
    cursor: pointer;
    color: var(--color-text-header);
  }

  a {
    text-decoration: none;
    color: rgb(56, 55, 55);
  }

  a:hover {
    color: rgb(56, 55, 55);
    text-decoration: underline;
  }
  a:visited {
    color: rgb(56, 55, 55);
  }
}

.menu_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xl);
  position: relative;
  font-size: var(--font-size-l);

  .menu_item {
    display: flex; /* Use flexbox to arrange the letters horizontally */
    flex-direction: row;
    align-items: flex-end; /* Align the letters to the bottom */
    overflow: hidden;
    padding: var(--space-xxs);
  }

  .letter {
    letter-spacing: var(--space-xxxxxs);
    display: inline-block; /* Ensure each letter is treated as a block */
  }

  .contact_menu {
    position: relative;
  }
}

.dialog_box {
  position: fixed;
  top: 0;
  right: 0;
  inset-inline-start: unset;
  border: none;
  width: 25rem;
  height: 100vh;
  background-color: var(--color-text-header);
  color: white;
  animation: slideInFromRight 1s ease-out forwards;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  text-align: right;
  gap: 2vh;
  z-index: 0;
  font-family: "Inter";

  &.closed {
    animation: slideOutToRight 1s ease-in forwards;
  }

  .dialog_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    button {
      &.close_button {
        align-self: start;
        font-size: clamp(1.5rem, 2rem, 4rem);
        border: none;
        color: white;
        background-color: transparent;
        cursor: pointer;
      }
    }

    h1 {
      font-size: clamp(1.5rem, 2rem, 4rem);
    }

    p {
      padding-bottom: 1vh;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: clamp(2vh, 5vh, 5vh);
  width: 100%;

  div {
    font-size: clamp(1.2rem, 1.5rem, 3rem);
  }

  input,
  textarea {
    letter-spacing: 2px;
    width: 80%;
    font-size: clamp(1.2rem, 1vw, 3rem);
    background-color: transparent;
    border: none;
    border-bottom: solid 2px white;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    transition: border-color 0.3s ease-in-out;
  }

  input:focus {
    outline: none;
    color: var(--color-text-header);
    padding-left: 10px;
    border-bottom: solid 2px rgb(255, 119, 119);
    color: white;
  }

  textarea {
    border: solid 2px white;
    border-radius: 5px;
    padding: 10px;
    height: clamp(10vh, 25vh, 25vh);
    width: 100%;
    resize: none;
  }

  textarea:focus {
    outline: none;
    color: var(--color-text-header);
    border: solid 2px rgb(255, 119, 119);
    color: white;
  }

  .input_label {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .error {
    color: rgb(255, 119, 119);
  }

  @keyframes borderEffect {
    0% {
      width: 0%;
      left: 50%;
    }
    100% {
      width: 100%;
      left: 0%;
    }
  }
}

.submit_button {
  width: 100%;
  appearance: button;
  background-color: transparent;
  // background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: white;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;
  font-family: "Prata";
  font-size: 100%;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  outline: 2px solid transparent;
  padding: 1rem 1.5rem;
  text-align: center;
  justify-content: center;
  text-transform: none;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(72, 35, 7, 0.46) 0 0 0 1px;

  &:active {
    background-color: #b7ab98;
    text-shadow: -1px -1px 2px rgb(255, 255, 255);
  }

  &:hover {
    border: 2px solid white;
  }
}

@media (max-width: 700px) {
  .dialog_box {
    width: 100vw;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
