#currentProject {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: white;
}

.mainContainer {
  width: 100%;
  height: 100%;
  padding-top: 5vh;
  // border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-family: "Bebas Neue";
  // padding-bottom: 1vw;

  .header {
    color: rgb(56, 55, 55);
    // border: solid 1px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: clamp(1vh, 5vh, 5vh);

    .title {
      position: absolute;
      left: 1px;
      top: -10px;
      font-size: clamp(1rem, 2vw, 2rem);
      color: gray;
      font-weight: lighter;
    }
    .projectTitle {
      font-size: clamp(3rem, 6vw, 6rem);
      font-weight: bold;
      position: relative;
    }
  }

  .body {
    // border: solid 1px blue;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .menubar {
      width: 70%;
      display: flex;
      justify-content: center;
      font-size: var(--font-size-l);
      border-bottom: solid 1px rgb(184, 184, 184);
      gap: 1vw;
      .menuItem[aria-expanded="false"] {
        color: rgb(184, 184, 184);
      }
      .menuItem[aria-expanded="true"] {
      }
    }

    .content {
      width: 70%;
      height: 100%;
      padding-top: 2vh;
      padding-bottom: 2vh;
      border-bottom: solid 1px rgb(184, 184, 184);

      .projectDetails {
        // border: solid 1px black;
        // width: clamp(500px, 55vw, 1200px);
      }
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  line-height: 1;
  color: var(--color-text-muted);
  width: 100%;
  // border: solid 1px black;
  .label {
    color: var(--color-text-body);
    font-size: var(--font-size-m);
  }
  .value {
    font-size: clamp(1.5rem, 3vw, 5rem);
  }
  .details {
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-family: "Poppins";
    letter-spacing: 0.05em;
    color: rgb(100, 100, 100);
    font-size: clamp(0.6rem, 1.5vw, 1.3rem);
    white-space: pre-line;
  }
  .techIcon {
    width: clamp(1.5rem, 3vw, 5rem);
    padding-right: 0.5vw;
    line-height: 1.2;
    filter: grayscale(20%);
  }
  .image {
    align-self: center;
    width: clamp(20rem, 60vw, 100rem);
    height: auto;
    object-fit: contain;
  }
}

.overview {
  display: flex;
  justify-content: space-around;
  gap: 1vw;
  position: relative;
  .imageGrid {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: solid 1px black;
    gap: 1vw;

    .video {
      width: 100%;
      // height: 100%;
      border-radius: 8px;
      filter: grayscale(100%);
      transition: transform 0.5s ease, filter 0.5s ease;
    }
    .video:hover {
      width: 100%; /* Full viewport width */
      height: 100%; /* Full viewport height */
      position: absolute; /* Position over other content */
      top: 0;
      left: 0;
      z-index: 10; /* Ensure it's above other elements */
      transform: scale(1.5);
      filter: grayscale(0%);
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 1vw;
    .imageGrid {
      width: 100%;
    }
  }
}
