#currentProject {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: white;
}

.mainContainer {
  width: 100%;
  height: 100%;
  // background-color: #f5f5f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue";
  // padding-bottom: 1vw;
  overflow-y: auto;

  .container {
    // border: solid 1px black;
    width: clamp(370px, 55vw, 1200px);
    height: 100%;
    padding-top: 5vh;
    // padding-bottom: 5vh;
  }
  .header {
    // justify-self: center;
    color: rgb(56, 55, 55);
    // font-weight: bold;
    position: relative;
    .title {
      position: absolute;
      left: 1px;
      top: -10px;
      font-size: clamp(1rem, 2vw, 2rem);
      color: gray;
    }
    .projectTitle {
      font-size: clamp(3rem, 6vw, 6rem);
      font-weight: bold;
    }
  }
  .body {
    // border: solid 1px black;
    // justify-self: center;
    .menubar {
      display: flex;
      // justify-self: center;
      font-size: var(--font-size-l);
      border-bottom: solid 2px rgb(184, 184, 184);
      gap: 1vw;
      .menuItem[aria-expanded="false"] {
        color: rgb(184, 184, 184);
      }
      .menuItem[aria-expanded="true"] {
      }
    }

    .content {
      padding-top: 2vh;
      padding-bottom: 2vh;
      border-bottom: solid 2px rgb(184, 184, 184);
      // justify-self: center;
      // border: solid 1px black;
      .projectDetails {
        // border: solid 1px black;
        // width: clamp(500px, 55vw, 1200px);
      }
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  line-height: 1;
  color: var(--color-text-muted);
  width: 100%;
  // border: solid 1px black;
  .label {
    color: var(--color-text-body);
    font-size: var(--font-size-m);
  }
  .value {
    font-size: clamp(1.5rem, 3vw, 5rem);
  }
  .details {
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-family: "Poppins";
    letter-spacing: 0.03em;
    color: gray;
    font-size: clamp(0.6rem, 1.5vw, 1.3rem);
    white-space: pre-line;
  }
  .techIcon {
    width: clamp(1.5rem, 3vw, 5rem);
    padding-right: 0.5vw;
    line-height: 1.2;
    filter: grayscale(20%);
  }
  .image {
    width: auto;
    height: auto;
    // object-fit: contain;
  }
}

.overview {
  background-image: "kcm.png";
}
