#howiwork {
  //   border: solid 1px red;
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 5vh;
  background-color: rgb(252, 252, 252);
  // background-color: #53851e;
  // border: solid 1px black;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  color: black;
  font-family: "Bebas Neue";

  .left,
  .right {
    font-size: var(--font-size-xl);
    font-weight: bold;
    width: 5vw;
    .number {
      color: red;
    }
  }
  .center {
    font-size: var(--font-size-xxl);
  }
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  // padding: 5vw;
  // border: solid 1px black;
}

.accordion {
  // width: 3rem;
  height: 70vh;
  // border: solid 1px rgb(133, 133, 133);
  cursor: pointer;

  .accordion_preview {
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    .preview_image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; // ✅ Show video snapshot as background
      pointer-events: none;
    }

    .preview_title {
      position: absolute;
      color: white;
      font-size: clamp(0.8rem, 2vw, 1.5rem);
      text-transform: uppercase;
      // font-weight: bold;

      display: flex;
      flex-direction: column;
      gap: 2vw;
      align-items: center;
      .id {
        padding-top: 1vw;
      }

      .title {
        writing-mode: vertical-rl; /* Rotates text vertically from right to left */
        text-orientation: mixed;
      }
    }
  }

  .accordion_content {
    position: relative;
    width: 100%;
    height: 100%;
    .video_text {
      position: absolute;
      padding: 2vw;
      top: 40%;
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: clamp(1rem, 2rem, 3rem);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
  }
}
