#aboutme {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  color: black;
  font-family: "Bebas Neue";
  overflow: hidden;
  z-index: 2;
  height: 100vh;
  gap: 1vw;

  backdrop-filter: blur(200px); /* Creates a blur effect behind the veil */
  background-color: rgba(255, 255, 255, 0.5);

  .scrollDown {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    color: gray;
    text-align: center;

    .arrow {
      font-size: clamp(1.5rem, 2vw, 2rem);
      margin-bottom: 0.5rem;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 5vw;
}

h1 {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xxl);
  transition: transform 0.3s ease-out;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1vw;
  position: relative;

  .headerText {
    color: rgb(56, 55, 55);
  }
  .subText {
    position: absolute;
    top: 100%;
    width: 30vw;
    text-align: right;
    font-family: "Poppins";
    padding-right: 1vw;
    letter-spacing: 0.03em;
    color: gray;
    font-size: clamp(0.6rem, 1.5vw, 1.3rem);
    transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  }
}

/* 
    The text_container acts as the viewport for the rotating list.
    No fixed height or overflow is used so that the list remains dynamic.
  */
.text_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* 
    The words_list is arranged vertically and its position is shifted dynamically.
  */
.words_list {
  display: flex;
  flex-direction: column;
  transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);

  //   position: relative;
}

/* Each word is centered using flex properties */
.word {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 0; // Optional padding for spacing
  color: rgb(56, 55, 55);
  text-transform: uppercase;
  transition: color 0.5s ease-in-out;
  line-height: 90px;
}
// .active {
//   color: rgb(206, 38, 38);
// }
